@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');

@font-face {
  font-family: 'Narse';
  src: url('@/assets/fonts/narse.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Afacad", sans-serif;
  min-height: 100vh;
  transition:
          color 0.5s,
          background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: cornsilk;
}

@media screen and (max-width: 768px) {
  #trace {
    display: none;
  }
}
